<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>book update</title>
</head>
<p>
<p>Add new book
<form th:action="@{/librarian/book}" th:object="${book}" th:method="POST">

    <input type="text" th:field="*{bookName}" name="bookName" placeholder="Book name"><br>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>

    <input type="text" th:field="*{author}" name="author" placeholder="author"><br>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Email Error</div>

    <input type="text" th:field="*{description}" name="description" placeholder="Description"><br>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Email Error</div>


    <select th:field="*{category.id}">
        <option th:each="categor : ${categories}" th:value="${{categor.getId()}}"
                th:text="${categor.getCategoryName()}"></option>
    </select>

    <button type="submit">Add</button>
</form>
</p>
<p>Add new category</p>
<form th:action="@{/librarian/category}" th:object="${categories}" th:method="POST">

    <input type="text" name="categoryName" placeholder="Category name"><br>

    <button type="submit">Add</button>
</form>
</body>
</html>