<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/librarian/book/{id}(id=${book.id})}" th:object="${book}" th:method="PUT">

    <input type="text" th:field="*{bookName}" name="bookName"><br>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>

    <input type="text" th:field="*{author}" name="author" placeholder="author"><br>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Email Error</div>

    <input type="text" th:field="*{description}" name="description" placeholder="description"><br>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Email Error</div>

    <p>
        <select th:field="*{category.id}" placeholder="category">
            <option th:each="categor : ${categories}" th:value="${{categor.getId()}}"
                    th:text="${categor.getCategoryName()}"></option>
        </select>
    </p>
    <button type="submit">Update</button>
</form>

<form th:action="@{/librarian/book/{id}(id=${book.id})}" th:method="DELETE">
    <button type="submit">Delete</button>
</form>
</body>
</html>