<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>
<form th:action="@{/librarian/book}" th:object="${book}" method="post">
    <input type="text" th:field="*{bookName}" name="bookName" placeholder="Book name"><br>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>
    <button type="submit">Пошук</button>
</form>

<p>
    Add new book or Category
<form>
    <button formaction="/librarian/add">Add</button>
</form>
</p>
<p>

<div th:each="book : ${books}">
    <a th:href="@{/librarian/book/{id}(id=${book.id})}"
       th:text="${book.getId()} + ' ' + ${book.getBookName()} + ' ' + ${book.getAuthor()} +' '+ ${book.getDescription()}"/>
</div>
</body>
</html>